* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    background-color: teal;
    width: 700px;
    height: 600px;
}

.row {
    display: flex;
}

.cols {
    width: 50px;
}

