* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }
    
    body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .container {
    width: 700px;
    height: 600px;
    background-color: aqua;
    }
    
    .row {
    display: flex;
    }
    
    .col {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    margin: 5px;
    }
    
    .col.empty {
    cursor: pointer;
    }
    
    .red {
    background-color: red;
    }
    
    .black {
    background-color: black;
    }